<div align='center' class="stats-table">
	
	<table class="table">
		<tr class="table-head">
			<th>Year</th>
			<th>Age</th>
			<th>Tm</th>
			<th>Lg</th>
			<th>W</th>
			<th>L</th>
			<th>W-L%</th>
			<th>ERA</th>
			<th>G</th>
			<th>GS</th>
			<th>GF</th>
			<th>CG</th>
			<th>SHO</th>
			<th>SV</th>
			<th>IP</th>
			<th>H</th>
			<th>R</th>
			<th>ER</th>
			<th>HR</th>
			<th>BB</th>
			<th>SO</th>
			<th>HBP</th>
			<th>BK</th>
			<th>WP</th>
			<th>WHIP</th>
		</tr>
	<% Pitcher.where(player_id: @player.id).where.not(year: "Total").each do |s| %>
		<tr class="table-stats">
			<td><%= s.year %></td>
			<td><%= s.age %></td>
			<td><%= s.team %></td>
			<td><%= s.lg %></td>
			<td><%= s.w %></td>
			<td><%= s.l %></td>
			<td><%= "#{format("%.3f", s.wl)}" %></td>
			<td><%= "#{format("%.2f", s.era)}" %></td>
			<td><%= s.games %></td>
			<td><%= s.gs %></td>
			<td><%= s.gf %></td>
			<td><%= s.cg %></td>
			<td><%= s.sho %></td>
			<td><%= s.sv %></td>
			<td><%= s.ip %></td>
			<td><%= s.h %></td>
			<td><%= s.r %></td>
			<td><%= s.er %></td>
			<td><%= s.hr %></td>
			<td><%= s.bb %></td>
			<td><%= s.so %></td>
			<td><%= s.hbp %></td>
			<td><%= s.bk %></td>
			<td><%= s.wp %></td>
			<td><%= "#{format("%.3f", s.whip)}" %></td>
			
		</tr>

	<% end %>
	
	<% total = Pitcher.where(player_id: @player.id).where(year: "Total")[0] %>
		<tr class="table-row-total">
			<td>Total</td>
			<td></td>
			<td></td>
			<td></td>
			<td><%= total.w %></td>
			<td><%= total.l %></td>
			<td><%= "#{format("%.3f",total.wl)}" %></td>
			<td><%= "#{format("%.2f",total.era)}" %></td>
			<td><%= total.games %></td>
			<td><%= total.gs %></td>
			<td><%= total.gf %></td>
			<td><%= total.cg %></td>
			<td><%= total.sho %></td>
			<td><%= total.sv %></td>
			<td><%= "#{format("%.1f", total.ip)}" %></td>
			<td><%= total.h %></td>
			<td><%= total.r %></td>
			<td><%= total.er %></td>
			<td><%= total.hr %></td>
			<td><%= total.bb %></td>
			<td><%= total.so %></td>
			<td><%= total.hbp %></td>
			<td><%= total.bk %></td>
			<td><%= total.wp %></td>
			<td><%= "#{format("%.3f",total.whip)}" %></td>
		</tr>
	
	</table>
</div>
