<h1 align = "center">Show Welcome to <%= @player.firstname + " " + @player.lastname%></h1>

<img src= <%= @player.picture %> >

<%= form_tag favourite_path, method: :post do %>
 <%= hidden_field_tag('player_id', @player.id)%>
 <% b = Favourite.where(user_id: current_user.id).find_by(player_id: @player.id) %>
 <%= submit_tag(b.nil? ? "Add to favourites?" : "Remove form favourites?") %>
<% end %>

<% if @player.position == "Pitcher" %>
	<%= render "pitcher" %>
<%else%>
	<%= render "batter" %>
<%end%>